.workouts__card{
    margin: 1rem;
    filter: drop-shadow(0 0 10px black);
    color: white!important;
    max-height: 350px!important;
    border-radius: 1rem!important;
    background-color: var(--background-transparent)!important;
}

.workouts__card ul{
    padding: 0;
    list-style: none;
}

.workouts__card li{
    margin-bottom: .6rem;
}

.workoutCard__dbText{
    background-color: var(--accent-color);
    border-radius: 10px;
    padding: .2rem .4rem;
}

.modalContainer{
    background-color: rgba(0, 0, 0, 0.904);
    width: 90vw;
    height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 2rem;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.modalContainer::-webkit-scrollbar{
    display: none;
}

.modalHeader{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    border-radius: 2rem 2rem 0 0;
    background-position: 0 -30.625rem;
}

.modalContainer h2{
    text-align: center;
}

.basic-info-container{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.basic-info-container h3{
    background-color: #1976d262;
    border-radius: 2rem;
    padding: 1rem;
}

.exerciseDetailTable thead td{
    border: none!important;
    font-size: 1.1rem;
}

.exerciseDetailTable thead h4{
    background-color: #1976d262;
    padding: 1rem;
    border-radius: 2rem;
    text-align: center;
    margin: 2rem;
}


.table.exerciseDetailTable{
    text-align: center;
    background-color: rgba(0, 0, 255, 0.048)!important;
    border-radius: 0;
}