.navbar{
    flex: .2;
    min-width: 7rem;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 0;
    display: flex;
    justify-content: start;
    flex-direction: column;
    border-right: 1px solid var(--accent-color);
    background-color: var(--background-transparent);
}



.navbar a{
    text-decoration: none;
    color: white;
    padding: 1rem 5rem;
    border-radius: 2rem;
    transition: .1s background-color ease-in-out;
}
.navbar li > a:hover{
    background-color: var(--accent-color-hover);
}


.logo{
    width: 5rem;
}

.navbar > ul{
    text-decoration: none;
    list-style: none;
    padding: 0;
}

.navbar > ul > li{
    margin: 1rem 0;
}


.navLink{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


#navSignatureContainer{
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 1rem;
    align-items: flex-end;
    margin-top: auto;
    width: 100%;
    height: fit-content;
}

@media only screen and (max-width: 1600px){
    .navbar a{
        padding: 1rem 3rem;
    }

}
@media only screen and (max-width: 1250px){
    .navbar a{
        padding: 1rem 2rem;
    }
}
@media only screen and (max-width: 900px){
    .navbar a{
        padding: 1rem 1rem;
    }
}
@media only screen and (max-width: 900px){
    .navbar{
        flex: .3;
    }
}
