.createWorkout{
    flex: .8;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.createWorkout > h1{
    text-align: center;
}

.createWorkout__form{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
    flex: 1;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.createWorkout__form::-webkit-scrollbar{
    display: none;
}

.formSection__header{
    font-size: 2rem!important;
    color: #333!important;
}

.table{
    margin-top: 2rem;
    background-color: var(--background-transparent);
    color: white;
    filter: drop-shadow(0 0 10px black);
    border-radius: 2rem;
}

.table th, td{
    width: 33%;
    border: none;
}

.table td{
    border: 1px solid var(--accent-color);
}


.table tr{
    height: 2rem;
}

.formFooter{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addExerciseBtn{
    width: 14rem;
    color: rgb(0, 0, 0)!important;
    font-weight: bold!important;
    border-color: rgb(0, 0, 0)!important;
    background-color: rgba(0, 0, 0, 0.164)!important;
}

.addExerciseBtn svg{
    margin-right: 1rem;
}

.addExerciseBtn:hover{
    background-color: rgba(0, 0, 0, 0.329)!important;
}

#createWorkoutBtn{
    width: 15rem;
}

.removeTableBtn{
    color: rgba(160, 2, 2, 0.795)!important;
    border-color: rgba(160, 2, 2, 0.795)!important;
}


.tableControl{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}




.textField{
    border: 1px solid #333!important;
}

.dateTimeContainer{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    width: 100%;

}



.MuiFilledInput-input.MuiInputBase-input{
    /* input value color */
    color: white!important;
}


.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink{
    /* label for input */
    color: white!important;
}

.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-outlined{
    color: white!important;
}

.MuiOutlinedInput-notchedOutline{
    /* border of input fields */
    border-color: white!important
}

.MuiInput-input.MuiInputBase-input{
    /* text color of set input fields */
    color: white!important;
}

.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-standard{
    /* color for input text not set */
    color: white!important;
}


.MuiOutlinedInput-input.MuiInputBase-input{
    /* color for data/time text */
    color: white!important;
}