:root{
  --background-color: #333;
  --background-color-light: rgb(80, 80, 80);
  --accent-color: #1976d2;
}

html,
body{
  height: 100%;
  margin: 0;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  font-family: "Montserrat", sans-serif;
  color: white;
}

.app{
  display: flex;
  height: 100vh;
}