.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
    /* entry text */
    color: white!important;     
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root{
    /* entry text when on top of the input*/
    color: white!important;
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
    /* text color when selected one */
    color: white!important;
}


.MuiOutlinedInput-root.Mui-focused fieldset{
    /* border color when focused */
    border-color: var(--accent-color)!important;
}

.MuiOutlinedInput-root fieldset{
    /* border color when not focused */
    border-color: white!important;
}

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon{
    /* arrow color */
    color: white!important;
}

.MuiSelect-iconOpen{
    /* arrow color when opened */
    color: var(--accent-color)!important;
}